:root {
    --color1: #edf6f9;
    --color2: #83c5be;
    --color3: #006d77;
    --colorHover: #00444a;
}

body {
    background-color: var(--color1);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: var(--color3);
    color: var(--color1);
}

main {
    padding: 100px;
}

.card {
    border-radius: 8px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    color: var(--color1);
    background-color: var(--color2);
}

.call-card {
    border-left: 5px solid var(--color2);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% { background-color: var(--color1); }
    50% { background-color: var(--color2); }
    100% { background-color: var(--color1); }
}

.bi-telephone-fill {
    font-size: 2rem;
    color: var(--color3);
}

.boxicon-custom-size {
    width: 100px;
    height: auto;
}

.btn-custom {
    background-color: var(--color3);
    color: var(--color1);
}

.btn-custom:hover {
    background-color: var(--colorHover);
}