:root {
    --color1: #edf6f9; /* Fondo principal y color de fuente para algunos elementos */
    --color2: #83c5be; /* Color secundario, para fondos de algunos elementos */
    --color3: #006d77; /* Color de acento, para botones y elementos destacados */
    --colorTexto: #333; /* Color de texto principal */
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    background-color: var(--color1);
    color: var(--colorTexto);
}

#formularioRegistro {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color2);
}

.campo {
    margin-bottom: 20px;
}

.campo label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: var(--color3);
}

.campo input[type="text"],
.campo input[type="date"],
.campo input[type="file"],
.campo select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--color2);
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.campo input[type="text"]:focus,
.campo input[type="date"]:focus,
.campo input[type="file"]:focus,
.campo select:focus {
    outline: none;
    border-color: var(--color3);
}

button {
    background-color: var(--color3);
    color: var(--color1);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: darken(var(--color3), 10%);
}

/* Estilos adicionales para mejorar la accesibilidad y la experiencia de usuario */
button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 109, 119, 0.5);
}

.campo input[type="file"] {
    background-color: var(--color1);
    border: 1px dashed var(--color3);
}


.botones {
    display: flex;
    justify-content: space-between; /* Alinea uno al lado izquierdo y el otro al derecho */
    padding: 10px 0; /* Añade un poco de espacio arriba y abajo */
}

button#btnRegresar {
    background-color: var(--color2); /* Utiliza el color secundario para este botón */
    color: var(--color3); /* Texto con el color de acento */
}

button#btnRegresar:hover {
    background-color: lighten(var(--color2), 10%); /* Hace el botón ligeramente más claro al pasar el mouse */
}


/* Mejora visual para los select */
.campo select {
    appearance: none;
    background-color: var(--color1);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path fill="%23006d77" d="M5.5,7.5l4.5,4.5l4.5,-4.5l-9,0Z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 30px; /* Ajusta según sea necesario */
}
