:root {
    --color1: #FAFBFC; /* Athens Gray */
    --color2: #1E3044; /* Cloud Burst */
    --color3: #FF570A; /* International Orange */
    --color4: #C0C9C9; /* Heather */
    --colorHover: #e14a00; /* A darker shade of International Orange for hover state */
}

body {
    background-color: var(--color4);
}

.call-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.call-alert {
    background-color: var(--color1);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.btn-respond {
    background-color: var(--color3);
    color: var(--color1);
    border: none;
}

.btn-respond:hover {
    background-color: var(--colorHover);
}
@media (min-width: 768px) {

}
